div(style="page-break-before:always")

.main-text
  include nr-introduction.pug

.main-text
  include nr-urban.pug

.main-text
  include nr-history.pug

.main-text
  include nr-branding.pug

.main-text
  include nr-community.pug

.main-text
  include nr-finale.pug

.main-text
  include report-bibliography.pug

.main-text
  include report-appendices.pug

template#page-footer
  style(type='text/css').
    .footer-style {
      height: 5vh;
      line-height: 5vh;
      font-size: 10px;
      color: #fff;
      background-color: $primary-color;
      font-family: $sans-serif-font;
      width: 100vh;
      text-align: center;
    }

  .footer-style Yokai Street: A Historic Shotengai in a Modern World - #[span.pageNumber]

style
  include:scss report-style.scss