@import 'semantic';
@import url('https://fonts.googleapis.com/css?family=Overpass:100,100i,200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i');

$sans-serif-font: Montserrat, Helvetica, sans;
$serif-font: "Crimson Text", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;

$primary_color: #23223c;
$page-width: 210mm;
$page-height: 297mm;

$footer-height: 5vh;
$footer-width: $page-width;

@page {
  size: $page-width $page-height;
  -relaxed-page-width: $page-width;
  -relaxed-page-height: $page-height;
  margin: 10mm 10mm 20mm 10mm;
}

html {
  font-family: $serif-font;
}

body {
  margin-left: 10mm;
  margin-right: 10mm;
}

table {
    @extend .ui, .celled, .table;
}

blockquote {
    @extend .ui, .secondary, .segment;
    page-break-inside: avoid;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $sans-serif-font;
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1+p, h2+p, h3+p {
    page-break-before: avoid;
}

h1 {
  font-size: 5em;
  page-break-before: always;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5, h6 {
  font-size: 1.8em;
}

p, li {
  line-height: 1.6em !important;
  font-family: $serif-font;
  font-size: 20pt !important;
  text-align: left;
}

ol li, ul li {
  page-break-after: avoid;
}
  
ol li:first-child, ul li:first-child {
  page-break-after: auto;
}

h1:after {
    content:' ';
    display:block;
    border:2px solid $primary_color;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

a {
  text-decoration: underline;
  color: inherit;
}

.report-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: $footer-width;
  height: $footer-height;
  line-height: $footer-height;
  background-color: $primary-color;
  color: #ffffff;
  font-family: $sans-serif-font;
  text-align: center;
}

.block-center {
  display: block;
  margin: 0 auto;
}

.message, figure {
  page-break-inside: avoid;
}

.message {
  margin-bottom: 1em !important;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
}

.main-text {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
    page-break-inside: avoid;

    a {
      word-wrap: break-word;
    }
}

.cover {
    /* Cancel body margins */
    /* margin-left: -10mm; */

    font-family: $sans-serif-font;
    font-size: 80px;
    text-align: center;
    color: $primary-color;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    page-break-before: always;
    page-break-after: always;
    z-index: 100;

    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.figure {
    page-break-inside: avoid;
}

.figure-caption {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}