@import 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css';
@import 'https://afeld.github.io/emoji-css/emoji.css';
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i');

$primary_color: #22223c;
$page-width: 17cm;

@page {
  margin: 1cm 1cm 2cm 0cm;
}
html {
  padding-left: 1cm;
  padding-right: 1cm;
  font-family: "Crimson Text", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 14px !important;
}
body {
  margin-left: 1cm;
}
#title {
  font-weight: bold;
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Crimson Text", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

p {
  line-height: 1.5em;
  font-family: "Crimson Text", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 1.1em !important;
  text-align: justify;
}

a {
  text-decoration: underline;
  color: inherit;
}

$sidebar-width: 0.25in;
$sidebar-height: 943px;

.report-sidebar {
  position: fixed;
  left: -$sidebar-width;
  top: 0;
  width: $sidebar-width;
  height: $sidebar-height;
  writing-mode: vertical-rl;
  border-top: $sidebar-width solid transparent;
  border-left: $sidebar-width solid $primary_color;
  border-bottom: $sidebar-width solid transparent;
  p {
    text-align: center;
    color: #ffffff;
    margin-top: -1.55em;
  }
}

.block-center {
  display: block;
  margin: 0 auto;
}

.mermaid-svg {
  max-width: 100%;
  height: auto;
  display: block;
  .node {
    rect {
      fill: none;
      rx: 5px;
      ry: 5px;
      stroke: black;

    }
  }
  .edgelabel {
    background: white;
    color: #444;
  }
}

.message, figure {
  page-break-inside: avoid;
}

.message {
  margin-bottom: 1em !important;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
}

.toc {
  text-align: justify;
  width: 80%;
}

.abstract {
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 20px;
  border-top: 1px solid $primary_color;
  border-bottom: 1px solid $primary_color;
  background-color: lighten($primary_color, 55%);
  padding-left: 30px;
  padding-right: 30px;

  p:before {
    content: "ABSTRACT: ";
    font-weight: bold;
    font-size: 0.8em;
    color: $primary_color;
  }
}

.main-text {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
    column-count: 2;
    column-gap: 40px;

    a {
      word-wrap: break-word;
    }
}

.figure {
    page-break-inside: avoid;
}

.figure-caption {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}