.wpi-logo-layer>img {
	max-width: 12%;
}

#app {
	height: 98vh;
	min-height: 100%;
	width: 100%;;
	min-width: 100%;
}

#map {
	height: 100%;
    width: 100%;
}

#asset-marker-image-preview {
    margin-bottom: 12px;
}

/* Bootstrap button override. */
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}