<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>EFFURT</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <link rel="stylesheet" href="lib/css/leaflet.draw.css"/>

    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>

<!-- Library includes -->
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script
        src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.9.6/rivets.bundled.min.js"></script>
<script src="lib/js/leaflet.draw.js"></script>
<script src="lib/js/leaflet-providers.js"></script>
<script src="lib/js/pouchdb-7.0.0.min.js"></script>
<script src="lib/js/JIC.min.js"></script>
<script src="lib/js/pica.min.js"></script>
<script src="https://unpkg.com/osmtogeojson@2.2.12/osmtogeojson.js"></script>

<!-- Map div. -->
<div id="app">
    <div id="map"></div>
</div>

<!-- Asset marker modal -->
<div id="asset-marker-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{ modal.asset.name } <!-- <footer><small>Updated at { modal.asset.lastUpdateTimestamp | humanizeUnixTime }</small></footer> --></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" rv-if="modal.editMode">

                <div id="asset-marker-image-preview">
                    <img src="" class="img-fluid rounded mx-auto d-block" rv-src="modal.image">
                </div>

                <label class="btn btn-primary btn-block">
                    Upload Image <input id="asset-marker-image" type="file"
                                        accepts="image/*;capture=camera"
                                        rv-on-change="modal.upload" rv-value="modal.newImage"
                                        hidden>
                </label>

                <hr>

                <form>

                    <!-- Asset Name -->
                    <div class="form-group">
                        <label for="asset-marker-name">Name</label>
                        <input class="form-control" type="text" rv-value="modal.asset.name" id="asset-marker-name"
                               aria-described-by="asset-marker-name-help">
                        <small id="asset-marker-name-help" class="form-text text-muted">The name of the asset.
                        </small>
                    </div>

                    <!-- Assets -->
                    <div class="form-group">
                        <label for="asset-marker-assets">Assets</label>
                        <input class="form-control" type="text" rv-value-on-blur="modal.asset.assets | list" id="asset-marker-assets"
                               aria-described-by="asset-marker-assets-help">
                        <small id="asset-marker-assets-help" class="form-text text-muted">Comma-separated list of asset(s) at the asset.
                        </small>
                    </div>

                    <!-- Asset Opening Hours -->
                    <div class="form-group">
                        <label for="asset-marker-opens-at">Opens At</label>
                        <input class="form-control" type="text" rv-value-on-blur="modal.asset.opensAt" id="asset-marker-opens-at"
                               aria-described-by="asset-marker-opens-at-help">
                        <small id="asset-marker-opens-at-help" class="form-text text-muted">Opening time in the form of HH.MM (eg., 10.30 for 10:30AM)
                        </small>

                        <label for="asset-marker-closes-at">Closes At</label>
                        <input class="form-control" type="text" rv-value-on-blur="modal.asset.closesAt" id="asset-marker-closes-at"
                               aria-described-by="asset-marker-closes-at-help">
                        <small id="asset-marker-closes-at-help" class="form-text text-muted">Closing time in the form of HH.MM (eg., 20.50 for 8:50PM)
                        </small>
                    </div>

                    <!-- Asset Congestion -->
                    <div class="form-group">
                        <label for="asset-marker-congestion">Congestion Rating</label>
                        <select class="custom-select" rv-value="modal.asset.congestionRating"
                                id="asset-marker-congestion" aria-described-by="asset-marker-congestion-help">
                            <option value="1">{ 1 | prettifyAssetCongestionRating }</option>
                            <option value="2">{ 2 | prettifyAssetCongestionRating }</option>
                            <option value="3">{ 3 | prettifyAssetCongestionRating }</option>
                            <option value="4">{ 4 | prettifyAssetCongestionRating }</option>
                            <option value="5">{ 5 | prettifyAssetCongestionRating }</option>
                        </select>
                        <small id="asset-marker-congestion=help" class="form-text text-muted">Estimated traffic congestion at the asset.
                        </small>
                    </div>

                    <!-- Asset condition -->
                    <div class="form-group">
                        <label for="asset-marker-decay-rating">Visual Decay Rating</label>
                        <select class="custom-select" rv-value="modal.asset.decayRating"
                                id="asset-marker-decay-rating" aria-described-by="asset-marker-decay-rating-help">
                            <option value="1">{ 1 | prettifyAssetDecayRating }</option>
                            <option value="2">{ 2 | prettifyAssetDecayRating }</option>
                            <option value="3">{ 3 | prettifyAssetDecayRating }</option>
                            <option value="4">{ 4 | prettifyAssetDecayRating }</option>
                            <option value="5">{ 5 | prettifyAssetDecayRating }</option>
                        </select>
                        <small id="asset-marker-decay-rating=help" class="form-text text-muted">Estimated rating of the visual decay of the asset.
                        </small>
                    </div>

                    <!-- Checklist Items -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asset-marker-is-franchised"
                                   rv-checked="modal.asset.isFranchised">
                            <label class="form-check-label" for="asset-marker-is-franchised">The asset is franchised.</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asset-marker-clear-purpose"
                                   rv-checked="modal.asset.hasClearPurpose">
                            <label class="form-check-label" for="asset-marker-clear-purpose">The asset has a clear purpose.</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asset-marker-supports-english"
                                   rv-checked="modal.asset.supportsForeignLanguages">
                            <label class="form-check-label" for="asset-marker-supports-english">The asset provides service in non-Japanese languages.</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asset-marker-has-potential-experience"
                                   rv-checked="modal.asset.hasPotentialExperience">
                            <label class="form-check-label" for="asset-marker-has-potential-experience">The asset potentially provides an experience.</label>
                        </div>
                    </div>

                    <!-- Additional reviewer notes. -->
                    <div class="form-group">
                        <label class="form-control-label" for="asset-marker-reviewer-notes">Additional Reviewer Notes</label>
                        <textarea class="form-control" id="asset-marker-reviewer-notes" rows="3"
                                  rv-value="modal.asset.reviewerNotes"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer" rv-if="modal.editMode">
                <button type="button" class="btn btn-danger" rv-on-click="modal.remove">Delete Asset</button>
                <button type="button" class="btn btn-primary" rv-on-click="modal.save">Save Changes</button>
            </div>

            <!-- View Mode -->
            <div class="modal-body" rv-if="modal.editMode | not">

                <div id="asset-marker-image-preview-read-only">
                    <img src="" class="img-fluid rounded mx-auto d-block" rv-src="modal.image">
                </div>
                <br>
                <p>This asset opens at <b>{ modal.asset.opensAt }</b> and closes at <b>{ modal.asset.closesAt }</b></p>

                <hr>
                <p><b>Assets:</b> { modal.asset.assets }</p>

                <hr>
                <p>
                    <b>Congestion Rating:</b> { modal.asset.congestionRating | prettifyAssetCongestionRating }
                    <footer><small>Congestion rating last updated at { modal.asset.lastCongestionRatingTimestamp | humanizeUnixTime }</small></footer>
                </p>
                <p><b>Decay Rating:</b> { modal.asset.decayRating | prettifyAssetDecayRating }</p>

                <hr>
                <p rv-if="modal.asset.isFranchised">This asset is franchised.</p>
                <p rv-if="modal.asset.hasClearPurpose">This asset has a clear purpose.</p>
                <p rv-if="modal.asset.supportsForeignLanguages">This asset supports non-Japanese languages.</p>
                <p rv-if="modal.asset.hasPotentialExperience">This asset may qualify as an experience.</p>

                <hr rv-if="modal.asset.reviewerNotes | hasText">
                <blockquote rv-if="modal.asset.reviewerNotes | hasText">{ modal.asset.reviewerNotes }</blockquote>
            </div>
        </div>
    </div>
</div>

<!-- Application Includes -->

<!-- Utilities (Must include first) -->
<script src="js/util.js"></script>

<!-- Database -->
<script src="js/globals.js"></script>

<!-- Object Types -->
<script src="js/UrbanAsset.js"></script>

<!-- Rivets.js configuration -->
<script src="js/rivetsConfiguration.js"></script>

<!-- UI -->
<script src="js/urbanAssetModal.js"></script>

<!-- Map -->
<script src="js/map.js"></script>
</body>
</html>